/*=================================Finance=================================*/
body{
	margin:0;
	padding:0;
	
}

h1{
	color:#C33636;
}
#scroll_fin_articles{

height: 500px; 
width: 350px; 
background: #fff; 
border: 1px solid #C1C1C1; 
overflow-y: scroll; 
margin-bottom:10px;
border-top: 2px solid #C33636;
}

/*====calendar=====*/
.thead {
	background-color:#C33636;
	color:white;
}
hr{
	background-color:#C33636;
	height:3px;
}
/*=======rating=========*/
.rating {
	border-top: 2px solid #C33636;
}
.tab-overwrite{
	width: 100%;
	max-width: 100%;
}
/*========table list articles==========*/
table {
    table-layout: fixed;
    word-wrap: break-word;
	font-size:10px;
}
/*==============add rticles=============*/

#submit_button{
	background-color:#C33636;
	margin-top:20px;
	margin-bottom:20px;
	
}
#submit_button:hover{
	background-color:white;
	color: #C33636;
}

#background-contact{
	background:url(contact.png);
}
/*==================Contact====================*/
#contact-form{
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: #C33636;
	border-radius: 10px 10px 10px 10px;
	margin-bottom:20px;
}

#contact-form label{
	color:white;
	font-size:18px;
}
.contact-heading{
	text-align:center;
	color:white;
}

media only screen and (max-width: 760px),(min-device-width: 768px){
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		
		max-width: 100%;
		margin:auto;
	}
	
	.container {
		width: 100%;
	}
	h3 {
		display: inline-block;
		margin: 10px 30px;
	}
}