/* General */
/*DON'T DELETE IT*/
body{
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	
}
.img-responsive{
		display: block;
		width: 100%;
		height: auto;
	}
/*DON'T DELETE IT*/
.uppercase{
	text-transform: uppercase;
}
.red{
	color: red;
}
.green{
	color: green;
}
.bold{
	font-weight: bold;
}
.bold:hover{
	color: #CCA7A7;
}
a .red{
	text-decoration: none;
}
/* =============================== Header =========================  */
#header-top{
	background-color: #C33636;
	height: 50px;
	text-align: right;
	padding: 10px;
}
#header-top a{
	color: white;
}
.navbar{
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #FFFFFF!important;
	color:white;
}
.header-logo{
	width: auto;
	height: 100px;
}
.navbar-nav > li{
	position: relative;
}

.navbar-light .navbar-nav .active a::after{

  bottom: -10px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}
#header .navbar-nav li.active > a {
	background-color: #C33636;
	color: #FFFFFF;
}
/* ========================== LOGIN & REGISTRATION ==================== */
.login{
	text-align: center;
	background-color: white;
	margin: 30px;
}
.login .header{
	margin: 20px auto 0px;
	text-align: center;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
  line-height: 2;	
}
.login form, .content {
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #C33636;
	border-radius: 10px 10px 10px 10px;
}
.login .input-group {
	margin: 10px 0px 10px 0px;
}
.login [type=text], .login [type=password], .login [type=email]{
	display: block;
	margin: 0 auto;
	width: 80%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: black;	
}
.login [type=file]{
	display: block;
	margin: 0 auto;
	width: 80%;
  height: 45px;
  line-height: 45px;  
  margin-bottom: 10px;
  font-size: 1em;
  color: black;		
}
.login [type='text']:focus, .login [type='password']:focus, .login [type='email']:focus {
  outline: none;
  border-color: #C33636;
}
.login [type=submit]{
  margin-top: 25px;
  width: 80%;
  border: 0;
  background-color: #C33636;
  border-radius: 5px;
  height: 50px;
  color: white;
  font-weight: 400;
  font-size: 1em;	
}
/*=========================== User Admin ========================================= */
.user-admin thead, .user-admin tbody{
	border-radius: 10px;
	border: 2px solid #C33636;
}
.user-admin thead{
	background-color: #C33636;
	color: white;
}
.user-admin thead th{
	border-bottom: 0px;
}
.user-admin .btn{
	color: black;
	background-color: #CCA7A7;
}
.user-admin .btn:hover{
	color: black;
	background-color: rgb(102, 96, 96);
}

/*=========================== WELCOME ============================================ */
#welcome .card{
	border: 1px solid #C33636;
}
#welcome .card-body{
	text-align: center;
}
#welcome .btn-danger{
	background-color: #C33636;
}
#welcome .btn-danger:hover{
	background-color: red;
}
#sub1{
	color: black;
	background-color: #CCA7A7;
	border-radius: 5px;	
}
#sub1:hover{
	color: black;
	background-color: rgb(102, 96, 96);	
}
/* ========================== Footer Social Media Icons ========================== */
.find-us{
 border-bottom: 1px solid #C33636;
}
.page-footer a{
	color: white;
}
ul.social-network {
	list-style: none;
	display: inline-block;
	text-align: left;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin-right: 30px;
}
ul.social-network li a{
	color: #C33636;
}

.social-network a.icoTwitter:hover {
	color: #000;
}
.social-network a.icoFacebook:hover {
	color:#000;
}
.social-network a.icoInstagram:hover {
	color:#000;
}

.news-footer a{
	text-decoration: underline;
}
.copyright{
	text-align: center;
	font-size: 14px;
}
@media screen and (max-width: 768px){
	.third-nav, .fourth-nav{
		display: none;
	}
}
/* ========================== Home page (index.php) ==========================*/
.my-carousel-container{
	padding: 0;
}
.owl-carousel{
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.owl-prev span,
.owl-next span{
	font-size: 110px;
	color: rgba(250,250,250,.99);
	text-shadow: 5px 5px 10px #000;
}
.owl-prev{
    position: absolute;
    top: 25%;
    left: 20px;
}
.owl-next{
	outline:none;
    position: absolute;
    top: 25%;
    right: 20px;
}
.owl-prev:active,
.owl-prev:focus,
.owl-next:active,
.owl-next:focus{
	outline:none;
}
.owl-carousel{
	margin-bottom: 60px;
}
.crypto_article a,
.crypto_article h5{
	color: rgb(20,20,20);
}
.red_line{
	margin-top: 0;
	margin-bottom: 2rem;
	height: 2px;
	color: rgb(213,10,32);
	background-color: rgb(213,10,32);
	border: none;
}
.home_techno_block{
	width: 100%;
}
.home_techno_block img{
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}
.home_techno_block a,
.home_techno_block h6{
	color: rgb(145,145,145);
}
.home_techno_block_main{
	margin-bottom: 10%;
}
.home_techno_block_main p{
	color: rgb(145,145,145);
}
.home_techno_block_main img{
	margin-bottom: 20px;
}
/* ======================= Crypto NEWS ========================= */
.symbol:hover{
	cursor: cell;
}
.coinm_h2{
	text-align: center;
	padding: 2% 0;
}
.coinm_h2 a{
	color: inherit;
}
/* ==== Coinm Table ==== */
#coinm{
	margin-bottom: 20px;
}

#coinm_table{
	border-collapse: collapse;
	box-sizing: border-box;
	width: 100%;
}
#coinm_table th{
	text-align: center;
	padding: 0.5%;
}
#coinm_table td{
	border: 1px solid #ddd;
	text-align: center;
	padding: 1% 0.5%;
}
/* font weight for name coll */
#coinm_table td:nth-child(2) {  
  font-weight: 600;
}
/* backbround for each second element */
#coinm_table tr:nth-child(even){
	background-color: rgba(221,221,221, 25%);
}
/* change background on hover */
#coinm_table tr:hover{
	background-color: rgba(213,10,32, 50%);
	transition: all 0.2s ease;
}
/* remove background on hover for the first row */
#coinm_table tr:first-child:hover{
	background-color: #fff;
}
.article h4,
.article h5,
.article a{
	margin-top: 10px;
	margin-bottom: 30px;
	color: rgb(145,145,145);
}
.article img{
	width: 100%;
	border: 1px solid rgba(180,180,180,44%);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.crop{
	width: 100%;
    max-height: 250px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.article_crop_image{
	width: 100%;
    max-height: 450px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.crypto_button{
	padding: 5px 10px;
	border: 1px solid rgb(150,150,150);
	border-radius: 3px;
	background-color: rgba(240,240,240,.5);
	color: #000;
}

@media only screen and (max-width: 768px) {
	.article img{
		width: 90%;
		display: block;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 590px) {
	.mobile_remove{
		display: none;
	}
	.coinm_h2{
		margin: 5% 0;
		font-size: 1.8em;
	}
	#coinm_table{
		font-size: 1.1em;
	}
	.article img{
		width: 100%;
	}
}
@media only screen and (max-width: 380px) {
	.mobile_380_remove{
		display: none;
	}
}
/* ============================================================= */
/*------------------------ Admin dashboard ---------------------*/
.admin-header, .admin-body{
	background-color: #F2F2F2;
}
.admin-login{
	float: right;
	line-height: 90px;
	position: relative;
	margin-right: 40px;
	text-transform: uppercase;
}
.admin-login a{
	color: #C33636;
}
.admin-login::before{
	position: absolute;
	display: block;
	content: "|";
	color: #D8C3BE;
	font-size: 30px;
	left: -40px;
}
.admin-right{
	float: right;
}
.admin-logo{
	max-width: 160px;
	display: inline-block;
}
.admin-menu-wrapper{
	background-color: #C33636;
	padding: 20px;
	min-height: 100%;
}
.admin-menu-wrapper ul{
	list-style: none;
}
.admin-menu-wrapper ul li{
	margin-top: 30px;
	text-transform: uppercase;
	color: #c4c4c4;
	font-weight: 700;
	position: relative;
}
.admin-menu-wrapper ul li a{
	display: block;
	height: 30px;
	line-height: 30px;
	color: #c4c4c4;
	text-decoration: none;
}
.admin-menu-wrapper ul li a:hover{
	text-decoration: underline;
}
.admin-menu-wrapper ul li a.admin-menu-active{
	color: #000;
}
.bb::after{
	display: block;
	content: "";
	height: 1px;
	width: 240px;
	position: absolute;
	bottom: -15px;
	left: -30px;
	opacity: .5;
	background-color: #fff;
}
.form-wrapper{
	background-color: #F2F2F2;
	padding: 20px;
}
.form-wrapper form input, select, textarea{
	width: 100%;
	font-size: 20px;
	margin-bottom: 10px;
}
.form-wrapper form label{
	font-size: 20px;
}
.admin-form-title{
	margin: 0;
}
.admin-list-wrapper{
	margin: 0 0 5px 0;
	color: #DFDFDF;
	min-height: 100%;
	padding: 20px;
	background-color: #C33636;
}
.admin-list-title{
	margin: 0 0 10px 0;
	color: #DFDFDF;
}
.admin-list-wrapper p {
	margin: 15px 0 5px 0;
}
.admin-news-category{
	font-size: 13px;
	font-style: italic;
}
.admin-update, .admin-delete{
	background-color: transparent;
	border: none;
	font-size: 15px;
	display: inline-block;
}
.admin-update{
	color: #1CBA57;
}
.admin-delete{
	color: #000;
}
.admin-update:hover, .admin-delete:hover{
	cursor: pointer;
}
.admin-back{
	color: #A22C2C;
	text-decoration: none;
}
/*---------------------------------Sport--------------------*/
.section{
	position: relative;
}
#sport-menu{
	position: absolute;
	right: 20px;
	z-index: 999;
	bottom: 30vh;
	list-style: none;
}
#sport-menu li{
	border: 2px solid #761F1F;
	border-radius: 20px;
	margin-bottom: 20px;
	padding: 10px;
	transition: all ease .7s;
}
#sport-menu li.active{
	border: 2px solid #C33636;
	transform: scale(1.2);
}
#sport-menu li a{
	display: block;
	width: 100%;
	color: #fff;
	font-weight: 300;
	text-align: center;
	text-decoration: none;
}
.category-content{
	position: absolute;
	bottom: 40vh;
	left: 50px;
}
.category-content, .category-content a{
	color: #fff;
}
.category-content p{
	min-width: 200px;
}
.sport-author{
	font-style: italic;
	margin-top: 20px;
}
.sport-date{
	float: right;
}
.sportnews-title{
	border-bottom: 1px solid #C33636;
	font-size: 20px;
}
.last-matches{
	height: 500px;
	overflow-y: scroll;
}
/*table*/
.tmatches{
	width: 100%;
	text-align: center;
	margin: 0 auto;
	color: #fefefe;
	border: none;
	background-color: #DFB160;
}
.tmatches thead{
	background-color: #65041d;
}
#table-content tr td, #table-B-content tr td{
	padding: 5px 0;
	border: 0;

}
.football-menu{
	padding: 0;
}
.football-menu li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}
.football-menu li a{
	color: #C33636;
}
.light{
	background-color: #a31525;
}
.dark{
	background-color: #7f1425;
}
/*=================================Finance=================================*/


#scroll_fin_articles{

height: 700px; 
width: 400px; 
background: #fff; 
border: 1px solid #C1C1C1; 
overflow-y: scroll; 
margin-bottom:10px;
border-top: 2px solid #C33636;
}


/*====calendar=====*/
.thead  {
	border-top:2px solid #C33636;
}
.line{
	background-color:#C33636;
	height:3px;
}
.plus{
	color:#58AA2C;
	font-weight:bold;
}
.minus{
	color:red;
	
}
/*=======rating=========*/
.rating {
	border-top: 2px solid #C33636;
	width:500px;
}
.tab-overwrite{
	width: 100%;
	max-width: 100%;
}


/*========table list articles==========*/
.table-fin {
    table-layout: fixed;
    word-wrap: break-word;
	font-size:10px;
}

/*==============add rticles=============*/

#submit_button{
	background-color:#C33636;
	margin-top:20px;
	margin-bottom:20px;
	
}
#submit_button:hover{
	background-color:white;
	color: #C33636;
}


/*==================Contact====================*/
#contact-form{
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 2px solid #C33636;
	border-radius: 10px 10px 10px 10px;
	margin-bottom:20px;
}

#contact-form label{
	color:#C33636;
	font-size:18px;
	margin-top:20px;
}
.contact-heading{
	text-align:center;
	color:#C33636;
	max-width:100%;
}
#contact-form input{
	
	border-bottom: 2px solid #C33636;
	border-top:none;
	border-left:none;
	border-right:none;
}
#contact-form textarea{
	
	border-bottom: 2px solid #C33636;
}
/*===========================================================*/
/*==========article=========*/
.ArticlePhoto{
	width:100%;
}
#top-news, #latest_news img{
		width:100%;
	}
/* --------------------Tech */
.tech-img-wrapper{
	max-height: 200px;
	overflow: hidden;
}
.tech-bold{
	font-weight: 700;
}
.tech-a{
	color: #000;
}
.tech-a:link{
	text-decoration: none;
}
.tech-a:hover{
	color: #C33636;
}
.about-div{
	margin-top: 30px;
	margin-bottom: 30px;
}
/*----------------SET ALL MEDIA QUERIES UNDER THIS LINE---------------*/
@media only screen and (max-width: 768px) {
	.ArticlePhoto img{
		width: 90%;
		margin: 0 auto;
	}
	#top-news{
		width:90%;
	}
	.login form, .content{
		width: 100%;
	}
}

@media only screen and (max-width: 576px) {
	.ArticlePhoto img{
		width: 90%;
		margin: 0 auto;
	}
	#top-news, #latest_news{
		width:90%;
		margin:auto;
	}
	.category-content{
		max-width: 100px;
	}
}
@media only screen and (max-width: 360px) {
	.category-content{

	}
	.login form, .content{
		width: 100%;
	}
	.users-table{
		width: 100%;
	}
	.users-table td{
		display: none;
	}
}