/* General */
/*DON'T DELETE IT*/
body{
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	
}
.img-responsive{
		display: block;
		width: 100%;
		height: auto;
	}
/*DON'T DELETE IT*/
.uppercase{
	text-transform: uppercase;
}
.red{
	color: red;
}
.green{
	color: green;
}
/* =============================== Header =========================  */
.header-logo{
	width: auto;
	height: 100px;
}
#header .nav-link{
	text-transform: uppercase;
}

/* ========================== Footer Social Media Icons ========================== */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;

}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/* ========================== Home page (index.php) ==========================*/
.my-carousel-container{
	padding: 0;
}
.owl-carousel{
	position: relative;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.owl-prev span,
.owl-next span{
	font-size: 80px;
	color: rgba(255,255,255,.99);
	text-shadow: 2px 2px 6px #000;
}
.owl-prev{
    position: absolute;
    top: 30%;
    left: 20px;
}
.owl-next{
	outline:none;
    position: absolute;
    top: 30%;
    right: 20px;
}
.owl-prev:active,
.owl-prev:focus,
.owl-next:active,
.owl-next:focus{
	outline:none;
}
.owl-carousel{
	margin-bottom: 60px;
}
.crypto_article a,
.crypto_article h5{
	color: rgb(20,20,20);
}

.red_line{
	margin-top: 0;
	margin-bottom: 2rem;
	height: 2px;
	color: red;
	background-color: red;
	border: none;
}
.home_techno_block{
	width: 100%;
}
.home_techno_block img{
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}
.home_techno_block a,
.home_techno_block h6{
	color: rgb(145,145,145);
}
.home_techno_block_main{
	margin-bottom: 10%;
}
.home_techno_block_main p{
	color: rgb(145,145,145);
}
.home_techno_block_main img{
	margin-bottom: 20px;
}
/* ======================= Crypto NEWS ========================= */
.symbol:hover{
	cursor: cell;
}
.coinm_h2{
	text-align: center;
	padding: 2% 0;
}
.coinm_h2 a{
	color: inherit;
}
/* ==== Coinm Table ==== */
#coinm{
	margin-bottom: 20px;
}

#coinm_table{
	border-collapse: collapse;
	box-sizing: border-box;
	width: 100%;
}
#coinm_table th{
	text-align: center;
	padding: 0.5%;
}
#coinm_table td{
	border: 1px solid #ddd;
	text-align: center;
	padding: 1% 0.5%;
}
/* font weight for name coll */
#coinm_table td:nth-child(2) {  
  font-weight: 600;
}
/* backbround for each second element */
#coinm_table tr:nth-child(even){
	background-color: rgba(221,221,221, 25%);
}
/* change background on hover */
#coinm_table tr:hover{
	background-color: rgba(237,194, 64, 50%);
	transition: all 0.2s ease;
}
/* remove background on hover for the first row */
#coinm_table tr:first-child:hover{
	background-color: #fff;
}
.article h5,
.article a{
	margin-top: 10px;
	margin-bottom: 40px;
	color: rgb(145,145,145);
}

.article img{
	width: 100%;
	border: 1px solid rgba(180,180,180,44%);
}
@media only screen and (max-width: 768px) {
	.article img{
		width: 90%;
		display: block;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 590px) {
	.mobile_remove{
		display: none;
	}
	.coinm_h2{
		margin: 5% 0;
		font-size: 1.8em;
	}
	#coinm_table{
		font-size: 1.1em;
	}
	.article img{
		width: 100%;
	}
}
@media only screen and (max-width: 380px) {
	.mobile_380_remove{
		display: none;
	}
}
/* ============================================================= */
/*------------------------ Admin dashboard ---------------------*/
.admin-header{
	background-color: #0E0E0E;
	height: auto;
}
.admin-logo, .admin-menu{
	display: inline-block;
}
.admin-menu{
	padding: 0;
	margin: 0;
	min-height: 100%;
	float: right;
	line-height: 75px;
	margin-right: 20px;
}
.admin-menu li{
	display: inline-block;
}
.admin-title{
	font-size: 20px;
	color: #DFDFDF ;
}
.admin-logo{
	max-width: 160px;
	background-color: #DFDFDF;
	display: inline-block;
}
.admin-active{
	background-color: #A22C2C;
}
.admin-menu-wrapper{
	background-color: #0E0E0E;
	min-height: 100%;
}
.admin-menu-wrapper ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.admin-menu-wrapper ul li a{
	display: block;
	height: 30px;
	border-bottom: 1px solid #DFDFDF;
	line-height: 30px;
	color: #DFDFDF;
	text-decoration: none;
	padding-left: 5px;
}
.admin-menu-wrapper ul li a:hover{
	background-color: #C33636;
}
.form-wrapper{
	background-color: #DFDFDF;
	padding: 20px;
}
.form-wrapper form input, select, textarea{
	width: 100%;
	font-size: 20px;
	margin-bottom: 10px;
}
.form-wrapper form label{
	font-size: 20px;
}
.admin-form-title{
	margin: 0;
}
.admin-list-wrapper{
	margin: 0 0 5px 0;
	color: #DFDFDF;
	min-height: 100%;
	padding: 20px;
}
.admin-list-title{
	margin: 0 0 10px 0;
	color: #DFDFDF;
}
.admin-list-wrapper p {
	margin: 15px 0 5px 0;
}
.admin-update, .admin-delete{
	background-color: transparent;
	border: none;
	font-size: 15px;
	display: inline-block;
}
.admin-update{
	color: #1CBA57;
}
.admin-delete{
	color: #C33636;
}
.admin-update:hover, .admin-delete:hover{
	cursor: pointer;
}
.admin-list-wrapper{
	background-color: #0E0E0E;
}
.admin-back{
	color: #A22C2C;
	text-decoration: none;
}
/*---------------------------------------------*/
/*=================================Finance=================================*/


#scroll_fin_articles{

height: 700px; 
width: 400px; 
background: #fff; 
border: 1px solid #C1C1C1; 
overflow-y: scroll; 
margin-bottom:10px;
border-top: 2px solid #C33636;
}
/*==========article=========*/
.ArticlePhoto{
	width:100%;
}
#top-news, #latest_news img{
		width:100%;
	}

@media only screen and (max-width: 768px) {
	.ArticlePhoto img{
		width: 90%;
		margin: 0 auto;
	}
	#top-news{
		width:90%;
	}
}

@media only screen and (max-width: 576px) {
	.ArticlePhoto img{
		width: 90%;
		margin: 0 auto;
	}
	#top-news, #latest_news{
		width:90%;
		margin:auto;
	}
}


/*====calendar=====*/
.thead  {
	border-top:2px solid #C33636;
}
.line{
	background-color:#C33636;
	height:3px;
}
.plus{
	color:#58AA2C;
	font-weight:bold;
}
.minus{
	color:red;
	
}
/*=======rating=========*/
.rating {
	border-top: 2px solid #C33636;
	width:500px;
}
.tab-overwrite{
	width: 100%;
	max-width: 100%;
}


/*========table list articles==========*/
.table-fin {
    table-layout: fixed;
    word-wrap: break-word;
	font-size:10px;
}
/*==============add rticles=============*/

#submit_button{
	background-color:#C33636;
	margin-top:20px;
	margin-bottom:20px;
	
}
#submit_button:hover{
	background-color:white;
	color: #C33636;
}


/*==================Contact====================*/
#contact-form{
	width: 40%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #B0C4DE;
	background: #C33636;
	border-radius: 10px 10px 10px 10px;
	margin-bottom:20px;
}

#contact-form label{
	color:white;
	font-size:18px;
}
.contact-heading{
	text-align:center;
	color:white;
}
/*===========================================================*/